body{
	background: #f2f4f6;
	margin: 0;
	background-image: url(..PSD-Maket/img/Clouds.png);
	background-repeat: no-repeat;
}
.wrapper{
	margin: 0 auto;
	display: block;
	width: 960px;
}

@media screen and (max-width:1250px;){
	header{ width: 50%;
	}

}

/*HEADER*/
menu{
	margin-top: 100px;
	font-family: RBNo2 ;
	font-size: 24px;
}
.tok{
	padding-left: 30px;
}
.tok::after{
	content: "";
}
li{
	padding: 0 50px 0 0;
}
.ul-1{
	list-style: none;
	display: flex;
	margin: 90px auto 0 70px;
	float: left
}
.ul-2{
	list-style: none;
	display: flex;
	float: right;
	margin:-75px 110px 0 0;
}
.Crown{
	background: url(../PSD-Maket/img/crown.png);
	height: 160px;
	width: 200px;
	background-repeat: no-repeat;
	list-style: none;
	margin:0 auto;
}
.tok::after{
	content: ('');
	display:inline-block;
	margin: 0 auto 5px auto;
	position: relative;
	left: 50%;
	background-image: url(../PSD-Maket/img/tok.png);
	height: 5px;
	width: 5px;
}
/*TITLE*/
.title{
	margin: 0 auto;
	display:block;
}
.title-txt{
	margin-top: 67px;
	text-transform: uppercase;
	font-family: Calibri;
	font-size: 14px;
	text-align: center;
	color: #030303;
}
/*CONTENT*/
.content{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin-top:67px;
	grid-gap: 30px;
}
.content-img{
	border-bottom: 1px solid #808080;
	padding-bottom:9px;
}
.img-div-h{
	text-transform: uppercase;
	font-family: Calibri;
	font-size: 16px;
	border-top: 1px solid #808080;
	margin-top: 5px;
	padding-top:37px;
}
.content-txt{
	font-family: Calibri;
	font-size: 14px;
	color: #030303;
}
.small-txt{
	font-family: Cambria;
	font-size: 12px;
	color: #030303;
}
/*BRAKETS*/
.brakets{
	margin: 90px auto;
	text-align: center;
}
/*SECOND CONTENT*/
.content-2-txt{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 65px;
	color: #030303;
	border-bottom: 1px solid #c7c9ca;
	padding-bottom: 100px;
}
.suspendense{
	color: #030303;
	text-transform: uppercase;
	font-family: Calibri;
	font-size: 16px;
}
.last-articles{
	font-family: Calibri;
	font-size: 16px;
	color: #545555;
	text-transform: uppercase;
}
.left-content{
	color: #030303;
}
.right-txt-elements{
	color: #545555;
}
.right-txt-elements::before{
	content: "";
	background-repeat: no-repeat;
	background-image: url(../PSD-Maket/img/arrow.png);
	padding-right: 20px;
	position: relative;
	top: 5px;
}
/*FOOTER*/
footer > p{
	font-family: Calibri;
	font-size: 12px;
	color: #797a7a;
	padding: 45px 0 145px 0;
	float: left;
}
.social > ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5,33px);
	grid-gap: 15px;
	float: right;
	padding-top: 25px;
}
.social > ul > li{
	width: 33px;
}
.social > ul > li:hover{
	cursor: pointer;
}






/*RBNo2-FONT*/
@font-face {
	font-family: 'RBNo2';
	src: url('./font/RBNo2Light.eot'); /* IE 9 Compatibility Mode */
	src: url('./font/RBNo2Light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./font/RBNo2Light.woff2') format('woff2'), /* Super Modern Browsers */
		url('./font/RBNo2Light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./font/RBNo2Light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./font/RBNo2Light.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}
/*TrajanPro-FONT*/
/

@font-face {
font-family: 'Trajan Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Trajan Pro Regular'), url('TrajanPro-Regular.woff') format('woff');
}


@font-face {
font-family: 'Trajan Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Trajan Pro Bold'), url('TrajanPro-Bold.woff') format('woff');
}
